<div class="modal fade box__modal" id="createPlaylistModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Playlist</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="/image/icon/close.svg" alt="icon"></span>
                </button>
            </div>
            <div class="modal-body d-flex flex-column">
                <input type="text" id="playlistNameInput" placeholder="Playlist Name..." class="mb-3">
                <input type="text" id="playlistDescriptionInput" placeholder="Playlist Description...">
            </div>
            <div class="modal-footer">
                <button class="done__btn" type="button" class="" data-dismiss="modal" id="createPlaylistBtn">Create</button>
            </div>
        </div>
    </div>
</div>